#
# Configure hostname
#
hostname {{ inventory_hostname }}

#
# Configure management interface
#
interface GigabitEthernet0/0
 vrf forwarding Mgmt-vrf
 ip address {{ mngt_ip }} 255.255.255.0

#
# Configure a list of interface description and no shut state
#
{% for intf in if_list %}

interface {{ intf }}
  description {{ intf }} configured by Ansible
  no shut

{% endfor %}

#
# Configure list of VLANS
#
{% for vlan in range(100,110) %}
  vlan {{ vlan }}
  name ansible-{{ vlan }}
{% endfor %}
